<template>
  <div class="product-area mt-15">
    <div class="container">
      <div class="block-title">
        <h2>Products Selections (Dynamic Routes)</h2>
      </div>
      <div class="container">
        <div class="row" v-for="product in items" :key="product.id">
          <div class="col-3 col-md-3 item-product">
            <div class="product-thumb">
              <router-link :to="`${product.url_key}`">
                <img
                  :src="
                    `https://migration.lepape.com/media/catalog/product/cache/fe9f77958e3941cab48b8b8c82757839${product.product_image}`
                  "
                  :alt="`${product.product_object.name}`"
                  class="img-responsive"
                  width="309"
                  height="309"
                />
              </router-link>

              <div class="box-label">
                <div class="label-product-discount big-solde">
                  <span>-70%</span>
                </div>
              </div>
            </div>
            <div class="product-caption">
              <div class="product-name">
                <router-link :to="`${product.url_key}`">
                  <b>{{ product.product_object.name }}</b>
                </router-link>
              </div>
              <div class="rating">
                <span class="yellow">
                  <i class="fa fa-star"></i>
                </span>
                <span class="yellow">
                  <i class="fa fa-star"></i>
                </span>
                <span class="yellow">
                  <i class="fa fa-star"></i>
                </span>
                <span class="yellow">
                  <i class="fa fa-star"></i>
                </span>
                <span class="yellow">
                  <i class="fa fa-star"></i>
                </span>
              </div>
              <div class="price-box">
                <span class="regular-price"
                  >{{ parseInt(product.product_price) }} €</span
                >
              </div>
              <div class="cart">
                <div class="add-to-cart">
                  <button type="submit">Ajouter au panier</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "ProductsSelections",
  metaInfo: {
    title: "Lepae Test",
    meta: [{ name: "description", content: "Home page description" }],
  },
  data: () => ({
    items: [],
  }),
  props: {
    products: {
      type: Array,
      required: true,
    },
  },
  serverPrefetch() {
    this.products.forEach((prod) => {
      let product_image;
      let url_key;
      let product_price;
      prod.custom_attributes.forEach((att) => {
        if (att.attribute_code == "image") {
          product_image = att.value;
        }
        if (att.attribute_code == "url_key") {
          url_key = att.value;
        }
        if (att.attribute_code == "special_price") {
          product_price = att.value;
        }
      });
      this.items.push({
        product_object: prod,
        url_key,
        product_image,
        product_price,
      });
    });
  },
};
</script>
<style lang="scss" scoped></style>
