<template>
  <div class="category">
    Testing Category Page on route : {{ $store.state.route }}
  </div>
</template>

<script>
export default {
  name: "Category",
  metaInfo: {
    title: "Vue SSR Category",
    meta: [{ name: "description", content: "Category page description" }],
  },
};
</script>
<style lang="scss" scoped></style>
