<template>
  <div class="product">
    Testing Product Page on route : {{ $store.state.route }}
  </div>
</template>

<script>
export default {
  name: "Product",
  metaInfo: {
    title: "Vue SSR Simple Product",
    meta: [{ name: "description", content: "Product page description" }],
  },
};
</script>
<style lang="scss" scoped></style>
