<template>
  <div>
    <products-selections :products="items"></products-selections>
  </div>
</template>

<script>
import ProductsSelections from "../components/products-selections/index.vue";

export default {
  name: "Home",

  metaInfo: {
    title: "Lepae Test",
    meta: [{ name: "description", content: "Home page description" }],
  },
  data: () => ({
    items: [],
  }),
  components: {
    ProductsSelections,
  },
  created() {
    this.items = this.$store.state.products[0].items;
  },
};
</script>

<style lang="scss" scoped></style>
