<template>
  <div>Testing Entreprise Static Route Page</div>
</template>

<script>
export default {
  name: "Category",
  metaInfo: {
    title: "Vue SSR Simple Setup About",
    meta: [{ name: "description", content: "Entreprise page description" }],
  },
};
</script>
<style lang="scss" scoped></style>
