<template>
  <div class="header-area">
    <div class="header-middle">
      <div class="container">
        <div class="row">
          <div class="col-xs-3 col-md-2">
            <div class="logo">
              <h1>
                <router-link to="/"
                  ><img
                    src="../assets/images/logo.svg"
                    alt="Lepape équipement Running, Trail, Vélo, Triathlon, Rando, Fitness"
                    class="img-responsive"
                /></router-link>
              </h1>
            </div>
          </div>
          <div class="col-xs-9 col-md-7">
            <div class="header-middle-inner">
              <div class="search-container">
                <form action="#">
                  <div class="search_box">
                    <input
                      class="header-search"
                      placeholder="Rechercher ..."
                      type="text"
                    />
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="box-icone">
              <ul>
                <!-- <li class="settings">
                                 <a href="#?"><img src="assets/images/fr.svg" alt="fr"><span>France</span></a>
                             </li>-->
                <li class="settings">
                  <a href="#?"
                    ><i class="ico ico-store"></i><span>Magasin</span></a
                  >
                </li>
                <li class="settings">
                  <a
                    href="#?"
                    title="Se connecter"
                    data-toggle="modal"
                    data-target="#modal_box"
                    data-original-title="Se connecter"
                    ><i class="ico ico-connected"></i
                    ><span>Se connecter</span></a
                  >
                </li>
                <li class="settings">
                  <a href="#?" title="Panier"
                    ><i class="ico ico-basket-full ico-basket"></i
                    ><span>Panier</span></a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-menu header-bottom-area theme-bg">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="header-menu ">
              <a href="#menu" class="menu-icon"
                ><i class="ico ico-burger-button"></i
              ></a>
              <nav class="main-menu" id="menu">
                <ul>
                  <li>
                    <router-link to="/chaussures">CHAUSSURES</router-link>
                  </li>
                  <li>
                    <router-link to="/v-tements">VÊTEMENTS</router-link>
                    <div class="mega-menu dropdown">
                      <ul class="mega-menu-inner">
                        <li>
                          <a href="">MONTRES & GPS</a>
                          <ul>
                            <li>
                              <a href="#?">Montres cardio et GPS running</a>
                            </li>
                            <li>
                              <a href="#?">GPS vélo et compteurs sans fil</a>
                            </li>
                            <li>
                              <a href="#?"
                                >Smartwatchs et bracelets connectés</a
                              >
                            </li>
                            <li>
                              <a href="#?"
                                >GPS randonnée et montres altimètres
                              </a>
                            </li>
                            <li>
                              <a href="#?">
                                Montres de natation et de plongée</a
                              >
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a href="">ÉLECTROSTIMULATION</a>
                          <ul>
                            <li><a href="#?">Électrostimulateurs</a></li>
                            <li>
                              <a href="#?">Électrodes et autres accessoires</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a href="">ÉCLAIRAGE</a>
                          <ul>
                            <li>
                              <a href="#?">Lampes frontales et accessoires</a>
                            </li>
                            <li><a href="#?">Lumières et radars vélo</a></li>
                          </ul>
                        </li>
                        <li>
                          <a href="">SON & VIDÉO</a>
                          <ul>
                            <li>
                              <a href="#?">Écouteurs et casques audio</a>
                            </li>
                            <li>
                              <a href="#?">Cameras embarquées et accessoires</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a href="">CAPTEURS</a>
                          <ul>
                            <li>
                              <a href="#?">Ceintures cardio-fréquencemètres</a>
                            </li>
                            <li>
                              <a href="#?">Cadencemètres et autres capteurs</a>
                            </li>
                          </ul>
                        </li>
                        <li>
                          <a href="">ACCESSOIRES</a>
                          <ul>
                            <li><a href="#?">Cartographies GPS</a></li>
                            <li>
                              <a href="#?"
                                >Bracelets, kits vélo, piles et chargeurs</a
                              >
                            </li>
                          </ul>
                        </li>
                      </ul>
                      <div class="mega-menu-banner mt-30">
                        <a href="#?"></a>
                      </div>
                    </div>
                  </li>
                  <li>
                    <router-link to="/electronique">ÉLECTRONIQUE</router-link>
                  </li>
                  <li>
                    <router-link to="/velos">VELO</router-link>
                  </li>
                  <li>
                    <router-link to="/nutrition">NUTRITION</router-link>
                  </li>
                  <li>
                    <router-link to="running-trail"
                      >RUNNING & TRAIL</router-link
                    >
                  </li>
                  <li>
                    <router-link to="/cyclisme">CYCLISME</router-link>
                  </li>
                  <li>
                    <router-link to="/outdoor">OUTDOOR</router-link>
                  </li>
                  <li>
                    <router-link to="/fitness">FITNESS</router-link>
                  </li>
                  <li>
                    <router-link to="/natation">NATATION</router-link>
                  </li>
                  <li>
                    <router-link to="">BONS PLANS</router-link>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default { name: "Header" };
</script>

<style lang="scss" scoped></style>
