<template>
  <div id="app">
    <Header></Header>
    <router-view></router-view>
    <Footer></Footer>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

const Header = () => import("./components/Header.vue");
const Footer = () => import("./components/Footer.vue");
export default {
  name: "App",

  metaInfo: {
    meta: [{ charset: "utf-8" }],
  },
  components: {
    Header,
    Footer,
  },
  computed: {
    ...mapGetters({
      title: "title",
    }),
  },
};
</script>
